body {
    background-color: lightgray;
}

.title {
    font-size: 32px;
}

.wrapper {
    width: 400px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.instructions {
    padding-top: 20px;
}

.paragraph-input {
    height: 100px;
    width: 300px;
    word-break: break-word;
}

.image {
    max-width: 400px;
}